<style>
  .btn:focus {
    outline: none !important;
  }
</style>
<script src="/javascripts/darkreader.min.js"></script>
<script>
  console.log(window.location.href);
  if (
    window.location.href.split("?logged-in") &&
    window.location.href.split("?logged-in").length > 1
  ) {
    show_notification("Welcome to Openfuel");
    window.history.pushState(null, null, window.location.pathname);
  }
  // const isDarkMode = window.matchMedia("(prefers-color-scheme: dark)").matches;
  // const isLightMode = window.matchMedia("(prefers-color-scheme: light)")
  //   .matches;
  // const isNotSpecified = window.matchMedia(
  //   "(prefers-color-scheme: no-preference)"
  // ).matches;
  // const hasNoSupport = !isDarkMode && !isLightMode && !isNotSpecified;

  // window
  //   .matchMedia("(prefers-color-scheme: dark)")
  //   .addListener(e => e.matches && toggleNight(true));
  // window
  //   .matchMedia("(prefers-color-scheme: light)")
  //   .addListener(e => e.matches && toggleNight(false));

  // if (isDarkMode) toggleNight(true);
  // if (isLightMode && !localStorage.nightMode) toggleNight(false);
  // if (
  //   ((isNotSpecified || hasNoSupport) && !localStorage.nightMode) ||
  //   (isLightMode && localStorage.nightMode) ||
  //   localStorage.nightMode == "off"
  // ) {
  //   console.log(
  //     "You specified no preference for a color scheme or your browser does not support it."
  //   );
  //   now = new Date();
  //   hour = now.getHours();
  //   if (localStorage.nightMode == "on") toggleNight(true);
  // }
  if (localStorage.nightMode == "on") {
    toggleNight(true);
  } else {
    toggleNight(false);
  }
  $("#darkmode").on("click", function() {
    toggleNight();
  });
  function toggleNight(night = "other") {
    if (night != "other") {
      if (night == true) {
        localStorage.nightMode = "on";
        DarkReader.enable();
      } else {
        localStorage.nightMode = "off";
        DarkReader.disable();
      }
    } else {
      if (localStorage.nightMode == "on") {
        DarkReader.disable();
        localStorage.nightMode = "off";
      } else {
        localStorage.nightMode = "on";
        DarkReader.enable();
      }
    }
    return localStorage.nightMode;
  }
</script>
<footer id="footer">
  <div class="inner">
    <section class="about">
      <h4 class="major">Openfuel</h4>
      <img src="/images/logo/logo.png" height="100px" /><br /><br />
      <p>
        Openfuel is a registered <strong>'Not for Profit'</strong> working in
        the field of Innovation.
        <strong
          ><a href="https://github.com/dan-divy/spruce"
            ><span class="icon">Platform technology powered by Spruce.</span></a
          ></strong
        >
      </p>
      <h2>
        <a href="https://facebook.com/openfuel.org"
          ><span class="icon brands fab fa-facebook">&nbsp;</span></a
        >
        <a href="https://github.com/openfuel.org"
          ><span class="icon brands fab fa-github">&nbsp;</span></a
        >
        <a href="https://status.openfuel.org"
          ><span
            style="z-index:999999; position:relative"
            class="brands fas fa-plug"
            >&nbsp;</span
          ></a
        >
      </h2>
    </section>
    <section class="contact-info">
      <h4 class="major">Get in Touch</h4>
      <ul class="contact">
        <li><span class="fa fa-phone"></span> +91 91042 88617</li>
        <li>
          <span class="icon solid fa fa-envelope"></span>
          <a href="mailto:team@openfuel.org">team@openfuel.org</a>
        </li>
      </ul>
      Openfuel Knowledge Foundation<br />204, Harmony Icon<br />Thaltej<br />Ahmedabad,
      GJ 380058<br />India
    </section>
  </div>
  <div class="copyright">
    <script>
      document.write(new Date().getFullYear());
    </script>
    Copyright <a href="https://openfuel.org"> Openfuel</a>
  </div>
</footer>
