
<!DOCTYPE html>
<html>
  <%- include('head') -%>
  <link rel="stylesheet" type="text/css" href="stylesheets/landing.css" />
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/moment.css" />
  
  <body>
    <%- include('navbar') -%>
    <div class="landing-main">
    <!-- Banner -->
			<section id="banner">
				<div class="inner">
					<h2 class="major special">
						<span class="landing-headline">
							Your vibe attracts your tribe
						</span>
					</h2>
					<!--<p>to organizations adopting Opensource</p>-->
					<ul class="actions special stacked">
						<li><a href="account/twitter" class="button primary large">
								<span class="icon solid brands fa-twitter"></span>
								Get started</a>
						</li>
						<li><a href="#one"><span class="icon solid major fa-angle-down"></span></a></li>
					</ul>
				</div>
			</section>

			<!-- One -->
			<section id="one" class="wrapper alt style2">
			</section>
		</div>	
		<%- include('footer') -%>
    <div id="notify_message" class="notify_message-success"></div>
  </body>

  
  <script src="/animations/jquery-sakura.min.js"></script>
  <script src="javascripts/classie.js"></script>
  <script src="javascripts/jquery.min.js"></script>
  <script src="javascripts/browser.min.js"></script>
  <script src="javascripts/breakpoints.min.js"></script>
	<script src="javascripts/main.js"></script>
	<script src="javascripts/jquery.scrolly.min.js"></script>
	<script src="javascripts/util.js"></script>
</html>

